.slide-in {
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: -50%;
  }

  to {
    margin-top: 0%;
  }
}

.slide-out {
  animation-duration: 0.5s;
  animation-name: slideout;
}

@keyframes slideout {
  from {
    margin-top: 0%;
  }

  to {
    margin-top: -50%;
  }
}

.fade-in {
  animation-duration: 0.5s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    color: rgba(255, 255, 255, 0.0);
  }

  to {
    color: rgba(255, 255, 255, 1.0);
  }
}

.fade-out {
  animation-duration: 0.5s;
  animation-name: fadeout;
}

@keyframes fadeout {
  from {
    color: rgba(255, 255, 255, 1.0);
  }

  to {
    color: rgba(255, 255, 255, 0.0);
  }
}
