$primaryColor: limegreen;
$secondaryColor: #0f0;
$tertiaryColor: #2fa;
$darkColor: #070;
$fontHeader: Courier, serif;
$fontBody: Courier, sans-serif;

h1 {
  font: 5vh $fontHeader;
  color: $primaryColor;
}

h3 {
	font: 3vh $fontHeader;
	color: $darkColor;
}

body {
	background-color: #111;
	color: $primaryColor;
	font: 1.5vh $fontBody;
}

a {
  text-decoration: none;
  color: $secondaryColor;
}

.heading {
	background-color: rgba(0,0,0,0.5);
}

welcome {
  background-color: rgba(0,0,0,0.5);
}
