$primaryColor: limegreen;
$secondaryColor: #0f0;
$tertiaryColor: #2fa;
$fontHeader: Courier, serif;
$fontBody: Courier, sans-serif;

h1 {
  font: 2em $fontHeader;
  color: $primaryColor;
}

body {
  background-color: black;
  color: green;
	font: 1em $fontBody;
}

a {
  text-decoration: none;
  color: $secondaryColor;
}