body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
	margin-bottom: 0;

}

nav {
	margin-bottom: 1em;
	text-align: center;
}

p {
	padding: 0.2em 10%;
}

.heading {
	width: 100%;
	text-align: center;
}