body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
	background-color: #010;
	margin-top: 1em;
	text-align: center;
}

p {
	padding: 0.2em 10%;
}

.heading {
	width: 100%;
	text-align: center;
}