h1 {
  font: 2em Helvetica, sans-serif;
  color: #329; }

body {
  background-color: #79f; }

body {
  display: flex;
  flex-direction: column;
  align-items: center; }

#intro {
  margin: 2em 25%; }

@media (max-width: 700px) {
  #intro {
    margin: 2em 10%; } }

a:hover {
  text-decoration: none;
  color: limegreen; }

button:hover {
  background-color: lightblue; }
