<div class="welcome-container container" data-ng-class="{'fade-in':scrollPos >= 500, 'fade-out': scrollPos < 500}">
	<p>Welcome! The quite accurately simulated star field through which you are
		currently flying was written by the proprietor of this page, a man who needs
		no <sup>(further)</sup> introduction.
	</p>
	<p>
		If you're a prospective employer, thank you!
		<a href="https://docs.google.com/document/d/1H1dtVfZut9FeeJubF0voeAY5bBLDxTqDlBh_HDq9phE/edit?usp=sharing">
			My resume can be found here (Google Doc)
		</a>, or you can <a href="resume.pdf">download the .pdf directly.</a>
	</p>
	<p>
		For everyone else, the music section is probably what you're looking for.
	</p>
</div>
